name: Build Status
on: [push, pull_request, workflow_dispatch]
jobs:
  linux:
    name: "Linux - ${{ matrix.platform.NAME }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
        - { CC: gcc, NAME: 'GCC' }
        - { CC: clang, NAME: 'Clang' }
    env:
      AUDITION_USER: ${{ secrets.AUDITION_USER }}
      AUDITION_KEY: ${{ secrets.AUDITION_KEY }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install Dependencies
      run: |
        curl -L -o audition.deb https://github.com/railgunlabs/audition/releases/download/v1.0.5/libaudition_1.0.5-1_amd64.deb
        sudo dpkg -i audition.deb
    - name: Build and Test
      env:
        CC: ${{ matrix.platform.CC }}
      run: |
        cmake .. -B build -DSEMY_BUILD_TESTS=ON
        cmake --build build
        ctest --test-dir build
    - name: Release Process
      env:
        CC: ${{ matrix.platform.CC }}
      run: |
        ./autogen.sh
        ./configure --verbose
        make
        make distcheck
